.body {
  height: calc((100vh - var(--header-height)) / var(--zoom-ratio));
  overflow-y: auto;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  height: calc((100vh - var(--header-height)) / var(--zoom-ratio));
}

.vizContainer {
  flex: 1; /* Allow div3 to fill remaining space */
  overflow: auto;
}

.joyride-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
}

