.body {
  height: calc((100vh - var(--header-height)) / var(--zoom-ratio));
  overflow-y: auto;
}




.rightContainer {
  display: flex;
  flex-direction: column;
  height: calc((100vh - var(--header-height)) / var(--zoom-ratio));
}

.vizContainer {
  flex: 1; /* Allow div3 to fill remaining space */
  overflow: auto;
}

.node {
    cursor: pointer;
    transition: fill 0.2s;
}

.node-label {
    font-size: 12px;
    pointer-events: none;
    text-anchor: middle;
}

.link {
    transition: stroke 0.2s, stroke-width 0.2s;
}

.matrix-cell {
    cursor: pointer;
    transition: fill 0.2s;
}

