.sidebar {
  /* top: 0;
  position: relative;
  left: 0;
  width: 35vw; */
  /* min-height: calc(100vh - var(--header-height)); */
  height: calc((100vh - var(--header-height)) / var(--zoom-ratio));
  background-color: white;
  padding: 10px;
  overflow-y: visible;
  overflow-x: hidden;
}
